.dataList{
	height: 100%;
    /* overflow-y: scroll; */
}

.menu_title_bar{
	margin-top: 100px;
}

.linea_superior{
	border-bottom: 2px solid #4974a7;
}

.linea_superior2{
	border-bottom: 2px solid #10130e;
}

.alignRigth{
	float: center;
}

#total_pagina{
	margin-bottom: 40px;
	position: relative;
	
}

.fade-scale {
	transform: scale(0);
	opacity: 0;
	-webkit-transition: all .25s linear;
	-o-transition: all .25s linear;
	transition: all .25s linear;
}

.fade-scale.in {
	opacity: 1;
	transform: scale(1);
}

/* Formularios, botones y lineas style*/
.lineas_formulario{
    display:inline-block;
    float:right;
}

.lineas_top_formulario{
    color:#4974a7;
}

.background_inputs{
    background:#68af93
}
.btn-up-white{
	background:none;
	border:1px solid grey;
}
.btn-danger{
	background:#70c8cb;
	color:black;
}

.btn-primary{
	background:#4974a7;
	color:white;
}

.btn-success{
	background:#a5db6a;
	color:black;
}

.btn-warning{
    background:#68af93;
}

.btn-info{
    background:#129cd6
}

/** labels */
.label-danger{
    background:#4974a7;
}

.label-primary{
	background:#70c8cb;
	color:black;
}
.label-success{
	background:#a5db6a;
	color:black;
}
.label-warning{
	color:black;
    background:#ffc107!important;
}
.label-info{
    background:#129cd6;
}

a{
	text-decoration: none;
}

.mover_right{
	float:right;
	display: inline;
}