@page {
    margin-top: 12cm;
    margin-bottom: 12cm;
    margin-left: 12cm;
    margin-right: 12cm;

    background:red;
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;

}
@media print { 

    table {        
        border-collapse: collapse;
    }

    #space { height: 750px; }

}

.border-total-0{
    border:0px dashed black;
}

.border-total-1{
    border:1px dashed black;
}

.border-top{
    border-top:1px dashed black;
}
.border-bottom{
    border-top:1px solid black;
    padding: 5px;
    margin: 10px;
}
.border-left{
    border-left:1px dashed black;
}
.border-right{
    border-right:1px dashed black;
}
.text-center{
    text-align:center;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.font-family{
    font-family: monospace;
}


