body{
    background: #e9ebee;
}

.sz {
    font-size: 20px;
    font-style: bold;
}

.sz2 {
    font-size: 30px;
    color: #0f4871;
}

.producto_agregados{
    max-height: 25%;
    overflow: scroll;
    scroll-behavior: smooth;
}

.lista_productos{
    max-height: 70%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.total_msg{
    font-family: monospace;
}
.currency_procesar_pago{
    font-family: monospace;
}
.formas_pagos_valores > tr{
    color: black;
}
.metodo_pago_input{
    order: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 32px;
  margin: 0 0 20px;
  padding: .5rem 1rem;
  width: 100%;

    padding: 2px;
    color: black;
}
.paper_cut{
    
    margin-top: 0px;
    
    content: " ";
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    height: 36px;
    background: -webkit-linear-gradient(#FFFFFF 0%, transparent 0%), -webkit-linear-gradient(135deg, #e9ebee 33.33%, transparent 33.33%) 0 0%, #e9ebee -webkit-linear-gradient(45deg, #e9ebee 33.33%, #FFFFFF 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 14px 27px, 14px 27px;
}

.border-left {
        border-left: 1px solid grey;
    }
    .border-right{
        border-right:1px solid grey;
    }
    .border-input{
        border:1px solid grey;
    }
    .border-table-left{
        border-left: 1px solid grey;
    }
    .border-table-right{
        border-right: 1px solid grey;
    }

.dataSelect , .dataSelect2{
        position: relative;
        display: none;
    }
    .btn-pre{
        background: #CA293E;
        color: white;
    }

    #dataSelect, #dataSelect2{
        height: 200px;
        position: absolute;
        margin-left: 0px;
        display: inline-block;
        float: left;
        z-index: 100;
    }

    /* Productos Tabla Seleccion */
    * {
        
        font-family: 'Helvetica', Arial, Sans-Serif;
        }

.linea_superior{
    border-bottom: 2px solid #82b74b;
}

.panel-body {
    padding: 5px;
    margin-top: -10px;
}

.producto_buscar{
    width:450px;
    margin: -10px;
    height: 60px;
}

#headerInputs{
    margin: -10px;
    height: 50px;  
    display: inline-table;
    font-size: 25px;
}